html {max-width: 100vw; }
body {
    font: 16px "DaimlerCS-Light",Helvetica,Arial,sans-serif;
    font-weight: 100;
	line-height:1.7;
	color:#666666;
	background-color:#fff;
	margin:0;
    padding:0;
    background: linear-gradient(180deg,#000 0,#2e2e2e 300px,#000 1000px);
    box-sizing: border-box;
    width: 100%;
}
br	{
	letter-spacing: 0;
}
.nav_cover > h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
.nav_cover > h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li {list-style: none;}
a {text-decoration: none; color: white;}

.wrap{
    width: 100%; 
    height: 100%;
    max-width: 1680px;
    margin:0 auto;
    background: black; 
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing:border-box
}
i, em {font-style: normal;}
ul::after{display: block; content: ''; clear: both;}
ul > li {float: left;}


@font-face {
    font-family: "DaimlerCS-Regular";
    src: url("https://assets.oneweb.mercedes-benz.com/global/1.15.1/fonts/EOT/DaimlerCS-Regular.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/global/1.15.1/fonts/WOFF2/DaimlerCS-Regular.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/global/1.15.1/fonts/WOFF/DaimlerCS-Regular.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/global/1.15.1/fonts/TTF/DaimlerCS-Regular.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/global/1.15.1/fonts/SVG/DaimlerCS-Regular.svg#DaimlerCS-Regular") format("svg");
}




/* header start */

header {
    width: 100%;
    z-index: 100;
    height:108px;
    background: rgba(0, 0, 0 , 0.5);
    position: relative;
    box-sizing: border-box;
 } /* 108/1940*100*/

header .nav_cover {  
    position: relative; 
    width: 80.476190%;
    height: 100%;
    max-width: 1680px;
    padding: 0 44px;
    margin:0 auto;
    overflow: hidden;
}
header .nav_cover > .btn {display: none;}
header .nav_cover > h1 {position: absolute; } /* 22/108*100 */ 
header .nav_cover > h1 > .logos { overflow: hidden; width: 257px; height: 64px; margin: 16px 0 16px -11px; }
header .nav_cover > h1 > .logos > a.svg_logo {margin-right: 64px; width: 64px; height: 64px; float: left;}
header .nav_cover > h1 > .logos > a.svg_logo > svg {width: 100%; height: 100%;}
header .nav_cover > h1 > .logos > a.logo_word {margin: 40px 0 0; line-height: 1.25; font-weight: 100; float: right; padding:  0 4px 4px 0}

header .nav_cover > nav {
    position: absolute; 
    top: 65px; /* 65/108*100*/
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 41px;
}
header .nav_cover > nav > ul { 
    line-height: 1.25;
    float: right;
    width: 64.005602%; /* 443.483/714*100 */
    text-align: right;
    font-size: 0;
}
header .nav_cover > nav > ul > li {margin: 0 20px; display: inline-block; float: none; font-size: 16px;} /* 25 / 1352 * 100 */
/* header .nav_cover > nav > ul > li:last-child::after{margin: 0 24px; content: ''; border-left: 1px solid rgba(255,255,255,0.22); height: 20px;} */
header .nav_cover > nav > ul > li > a:hover {color: #00abed;}
header .nav_cover > nav > ul > li.on > a {color: #00abed;}
header .nav_cover > nav > ul > li::after {display: none;}
header .nav_cover > nav > ul > li.on::after{
    content: '';
    clear: both;
    display: block;
    width: 5px;
    border-top: 3px solid transparent;
    border-bottom: 20px solid  white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
header .nav_cover > .privercy {
    font-size: 0.75rem;
    float: right;
    margin-top: 6px;
}

header .nav_cover > .privercy em{
    border: 2px solid white;
    display: inline-block;
    padding: 0 2px;
    line-height: 0.9rem;
    margin-right: 2px;
}
header .nav_cover > .privercy:hover{color: #00abed;}
header .nav_cover > .privercy em:hover{color: #00abed; border-color: #00abed }
/* header end */

.nav_menucover {
    width: 100%;
    max-width: 1680px;
    background: white;
    position: relative;
    z-index: 50;
    /* top: 5.567010%; */
}
.nav_menucover > div {
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    width: 93.33%;
    color: black;
    transition: all 0.8s ease;
}
.nav_menucover > div.on {
    display: block;
}
.nav_menucover > div * {opacity: 0;}
.nav_menucover > div.on * {opacity: 1}
.nav_menucover > div > p {font-size: 2rem;}
.nav_menucover > div > ul {padding: 44px 0 71px;} /* 50/561*100 */
.nav_menucover > div > ul > li {width: 22%;  margin-right: 2.366863%; min-height: 119px;} /* 313/1352*100 */
.nav_menucover > div > ul > li > a {color: black;}
.nav_menucover > div > ul > li > a > * {display: block;}
.nav_menucover > div > ul > li > a > strong {margin-bottom: 2.673796%; font-size:1.375rem} /* 15/561*100*/
.nav_menucover > div > ul > li > a > strong:hover {color: #00abed;}
.nav_menucover > div > ul > li > a > span {color: #999999;}
.nav_menucover > .menu_model > div {overflow: hidden;}
.nav_menucover > .menu_model > div > a > img{float: left; width: 50%;}
.nav_menucover > .menu_model > div > a > * {color: rgb(184, 168, 168);}
.nav_menucover > .menu_model > div > a > strong:hover {color: #00abed;}
.nav_menucover > .menu_model > div > a > span {display: block; color:#999999;}

/* main start */
@keyframes ani {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

main {color: #333333; width: 100%; overflow: hidden; box-sizing: border-box;  margin-top: -108px} 
main a{color: #333333;}
main .main_pt {height:700px; position: relative;} /* 431.667/1024*100 */ 
main .main_pt .flow {width: 100%;}
main .main_pt .flow > li {position: relative; }
main .main_pt .flow > li > a {color: white; }
main .main_pt .flow > li > a > img {width: 100%; height: 700px;}
main .main_pt .flow > li > strong {
    position: absolute;
    display: block; 
    font-size: 2em; 
    top: 23.571428%; /* 165 / 700 * 100*/
    left:35%;
    animation: ani 4.03s ease-in-out infinite;
    color: white;
}
main .main_pt .flow > li > span {
    position: absolute; 
    display: block; 
    top: 32.857142%; /* 230 / 700 * 100 */
    left:35%;
    animation: ani 4.03s ease-in-out infinite;
    color: white;
}
main .main_pt .flow > li.black_word > * { color: black }
main .main_pt .flow > li > .in_detail {
    display: none;
    background: linear-gradient(180deg,#333,#242424);
    text-align: center;
    margin: 0 auto;
    width: 93.33%;
    margin-top: 24px;
    min-height: 35px; 
}
main .main_pt .flow > li > .in_detail > a {
    display: inline-block;
    padding: 8px 14px;
    color: white;
    font-size: 1rem;
    vertical-align: bottom;
    width: 93.33%
}
/* main .main_pt .flow > li {display: none;} */
.main_pt .bx-wrapper { border:none; box-shadow: none; margin-bottom: 0;}
.main_pt .bx-wrapper .bx-controls-direction {display: none;}
.main_pt .bx-wrapper .bx-pager.bx-default-pager {display: none; }
.main_pt .bx-wrapper .bx-pager.bx-default-pager a:hover{ background: #666}
.main_pt .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #00abed;}
main .main_pt > .slide_bar {position: absolute; top: 659px; height: 32px; width: 100%; text-align: center} /* 659/700*100 */
main .main_pt > .slide_bar > li {margin: 0 5px; padding: 17px 0 15px; width: 60px; display: inline-block; position: relative; cursor: pointer; float: none;}
main .main_pt > .slide_bar > li::after { background: white; width: 100%; height: 3px; display: block; content: ''; }
main .main_pt > .slide_bar > li::after.on{background: #00abed;}

main .model_overview_cover {background-color: white; height: auto; padding-bottom: 50px; clear: both; }  /* 460 / 1940 * 100 */
main .model_overview {
    width: 80.476190%;
    max-width: 1680px; 
    /*padding: 2.422680% 9.761904% 3.814432%; /*47/1940*100 / 165/1680*100 */ /* 74/1940*100 */
    box-sizing: border-box;
    clear: both;
    padding: 0 44px;
    margin:0 auto;
} 
main .model_overview > h3 {font-size: 1.875rem; line-height: 1; padding: 44px 0 40px; font-weight: 100;} /* 40/1940*100*/
main .model_overview a:hover {color: #00abed;}
main .model_overview .model_menu {} /* 83/1940*100*/
main .model_overview .model_menu > li {font-size: 1.25rem;}
main .model_overview .model_menu > li.on > a {color:#00abed;}
main .model_overview .model_menu > li::after {border-right: 1px solid black; content:''; vertical-align: top;}
main .model_overview .model_menu > li:last-child::after {border-right: none;}
main .model_overview .model_menu > li > a {padding:6px 21px;}
main .model_overview .model_menu > li:first-child > a{padding: 0 21px 0 0}
main .model_overview .model_photo {padding: 40px 0 0}
main .model_overview .model_photo > ul > li {width: 223px } /* 202/1352*100 */ 
main .model_overview .model_photo > ul > li + li {margin-left: 4.733727%;} /* 64/1352*100 */
main .model_overview .model_photo > ul > li > a > img {margin-bottom:40px; width: 100%; height: 113.63px;}
main .model_overview .model_photo > ul > li > strong {padding:0 5.198019%} /*10.5/202*100*/
main .model_overview .model_photo > ul > li > span {padding:0 5.198019%} /*10.5/202*100*/
main .model_overview .model_photo > ul > li > * {display: block; color: #333333;}
main .model_overview .model_photo .Sedan {display: none;}
main .model_overview .model_photo .Sedan.on {display: block;}
main .model_overview .model_photo .Coupe {display: none;}
main .model_overview .model_photo .Suv {display: none;}
main .model_overview .model_photo .Coupe.on {display: block;}
main .model_overview .model_photo .Suv.on {display: block;}

main .main_bottom {margin: 40px 0 60px; content:''; display: block;}
/* main end */

/* aside start */

aside {
    box-sizing: border-box;
    width: 100%;
    clear: both; 
    margin-bottom: 60px;
} /* 193 /1940 *100 */
aside > .aside_cover {
    width: 80.476190%;
    max-width: 1680px; 
    padding: 0 44px;
    margin: 0 auto;
}
aside > .aside_cover > ul { box-sizing: border-box;} /* 100/1940*100 / 60/1940*100 */
aside > .aside_cover > ul > li { 
    background: linear-gradient(180deg,#262626,#171717 280px);
    width: 19.008875%; /* 257 / 1352 *100 */
    height: 133px; /* 133 / 193 *100 */
}   
aside > .aside_cover > ul > li +li {margin-left: 1.183431% } /* 16 /1352 * 100 */
aside > .aside_cover > ul > li > a {
    box-sizing: border-box;
    float: left; 
    padding: 13px 15px 14px; /*17/193*100  / 15/257*100  17/193*100 17/257*100 */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
} 
aside > .aside_cover > ul > li > a:hover {background: #171717;}
aside > .aside_cover > ul > li > a > * {display: block;}
aside > .aside_cover > ul > li > a > svg {
    vertical-align: bottom;
    margin-bottom: 27px; 
    width: 70px; 
    height: 60px;
} 
aside > .aside_cover > ul > li > a > div {overflow: hidden; width: 100%; vertical-align: bottom}
aside > .aside_cover > ul > li > a > div > i {float: right;}
aside > .aside_cover > ul > li > a > div >i:hover {color:#00abed;}
/* aside end */

/* footer start */

footer { width:100%; box-sizing: border-box; overflow: hidden; } /* 493.416 / 1940 *100*/
footer a:hover {color: #00abed}
footer .ft_top_cover {
    background: linear-gradient(180deg,#262626,#171717 280px);
    box-sizing: border-box;
} 
footer .ft_top { 
    width: 80.476190%; 
    max-width: 1680px; 
    padding:0 44px; 
    margin: 0 auto;
}
footer .ft_top .hpmode_top{display: none; font-size: 32px; padding: 14px 0 25px; text-align: center; line-height: 1; }
footer .ft_top .carn_top {
    border-bottom: 2px solid #494949;
    padding: 1.443298% 0;  /* 28/1940*100 */
    margin-bottom: 0.876288%; /* 17/1940*100 */
}
footer .ft_top .carn_top::after{content: ''; clear: both; display: block;}
footer .ft_top .carn_top > div {position: relative; width: 100%;}
footer .ft_top .carn_top > div > p {color: #00abed; display: inline-block;}
footer .ft_top .carn_top > div > .top_going {position: absolute; right: 0;}

footer .ft_top .Social {margin:42px 0 26px;}
footer .ft_top .Social > li + li {margin-left:44px} 
footer .ft_top .Social > li > a > svg path:hover {fill: #00abed}

footer .ft_top .car_info {border-top: 2px solid #494949; padding: 1.288659% 0 2.113402%;} /* 25/1940*100 / 41/1940*100 */
footer .ft_top .car_info a {color: #999999;}
footer .ft_top .car_info > li {width: 14.201183%;} /* 191 /1352 * 100*/
footer .ft_top .car_info > li > p {display:block; margin: 5.854761% 0;}  /* 26/444.083*100 */
footer .ft_top .car_info > li + li {margin-left: 2.958579%} /* 40 /1352 * 100*/
footer .ft_top .car_info a:hover{color: #00abed;}
footer .ft_top ul > li > ul > li {float: none;}
footer .ft_top ul > li > ul > li + li {margin-top: 4.728845%;} /* 21/444.083*100 */

footer .ft_bottom_cover{background: black; clear: both;}
footer .ft_bottom {
    width: 80.476190%;
    max-width: 1680px; 
    margin: 0 auto; 
    padding: 0 44px;
    box-sizing: border-box;
} 
footer .ft_bottom > div{ padding: 14px 0 91px; text-align: right;}
footer .ft_bottom > div > ul {display: inline-block; font-size: 0.75rem; line-height: 1.28571; }
footer .ft_bottom > div > ul > li {}
footer .ft_bottom > div > ul > li::after{content: '|'; margin: 0 10px; color: #999999;}
footer .ft_bottom > div > ul > li:last-child::after{content: '';}
footer .ft_bottom a {color: #999999;}
footer .ft_bottom a:hover {color: #00abed;}
footer .sticky{
    position: fixed; 
	top: 50%;
    right: 0;
}
footer .sticky > ul > li {
    position: relative;
    float: none; 
    background: #00adef; 
    transform: translate(70px, 0); 
    height: 45px;
    width: 115px;
}
footer .sticky > ul > li:hover{
    transition: all 0.5s ease; 
    transform: translate(0,0);
    background-color:#0e78a0 ;
}
footer .sticky > ul > li + li {margin-top: 1px;}
footer .sticky > ul > li > a {width: 100%; overflow: hidden; text-align: center}
footer .sticky > ul > li > a:hover {color: white}
footer .sticky > ul > li > a > svg {width: 30px; height: 30px; float: left; padding:7.5px 0 0 7.5px;}
/* footer .sticky > ul > li > a > svg > path{} */
footer .sticky > ul > li > a > div {line-height: 45px; font-size: 0.9rem}

/* footer end */ 


/* 479이하 */
@media screen and (max-width:479px) {
    body {font-size: 12px;}
    header {height: 76px;}
    header .nav_cover > .btn  {float: right; display:block; margin: 50px 0 4px; z-index: 100; width: 0; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > .btn:before {content: ''; float: right; margin-bottom:4px; display: inline-block; width:20px; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > .btn:after {content: ''; float: right; margin-top:4px; display: inline-block; width:20px; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > h1 > .logos {width: 179px; height: 40px; margin: 22px 0 14px -30px;} 
    header .nav_cover > h1 > .logos > a.svg_logo{ margin-right: 0;  width: 40px; height: 40px;}
    header .nav_cover > h1 > .logos > a.logo_word{margin: 21px 0 4px; line-height: 1.25; font-weight: 100;}
    header .nav_cover > nav {display: none;}
    header .nav_cover > .privercy em {border: 1px solid white}
    header .nav_cover > .privercy span {display: none; height: 0;}
    main {margin-top: 0;}
    main .main_pt {height: auto;}
    main .main_pt .flow > li > a > img {width: 100%; height: 282px}
    main .main_pt .flow > li > strong {
        position: unset;
        font-size: 2em; 
        top: 0; /* 165 / 700 * 100*/
        left:0;
        animation: none;
        color: #000;
        margin-left: 17px;
    }
    main .main_pt .flow > li > span {
        position: unset; 
        top: 0; /* 230 / 700 * 100 */
        left:0;
        animation: none;
        color: #000;
        margin-left: 17px;
    }
    main .main_pt .flow > li > .in_detail  {display: block}
    .main_pt .bx-wrapper .bx-pager.bx-default-pager {display: block;}
    main .model_overview {
        width: 93.33%;
        padding: 0 0;
    } 
    main .model_overview > h3 {padding: 84px 0 40px;} 
    main .model_overview .model_menu {overflow: hidden; width: 1000px;};
    main .model_overview .model_menu > li {float: none; display: inline-block;}
    main .model_overview .model_photo {display: none;}
    main .main_bottom {margin-bottom: 40px;}
    aside > .aside_cover { width: 93.33%; margin: 0 auto 20px; padding: 0 0;}
    aside > .aside_cover > ul{padding:0 0;}
    aside > .aside_cover > ul > li {
        width: 100%; 
        height: 100%; 
        background: linear-gradient(180deg,#333,#242424);
    }
    aside > .aside_cover > ul > li + li {margin: 2px 0 0 0; }
    aside > .aside_cover > ul > li > a {height: 100% ; width: 100%; font-size: 16px;}
    aside > .aside_cover > ul > li > a > * {display: inline-block;}
    aside > .aside_cover > ul > li > a > svg {height: 34px; width: 31px; margin-bottom: 0;}
    aside > .aside_cover > ul > li > a > div {overflow: hidden; width: 87%;}
    footer .ft_top {width: 93.33%; padding: 0 0; font-size: 1rem}
    footer .ft_top .hpmode_top{display: block;}
    footer .ft_top .carn_top {border-top: 1px solid #494949; border-bottom: 1px solid #494949; padding: 14px 0 25px; margin: 0;}
    footer .ft_top .carn_top > div > .top_going {display: none;}
    footer .ft_top > h4 {display: none;}
    footer .ft_top .Social {margin:0 0; padding: 30px 9px; border-bottom: 1px solid #494949;}
    footer .ft_top .Social > li {width: 33.333333%}
    footer .ft_top .Social > li.instar {text-align: center;}
    footer .ft_top .Social > li.utube {text-align: right;}
    footer .ft_top .Social > li + li {margin: 0;}
    footer .ft_top .car_info {display: none;}
    footer .ft_bottom_cover{background: linear-gradient(180deg,#000 0,#2e2e2e 150px,#000 500px);}
    footer .ft_bottom {padding: 0; width: 93.33%; }
    footer .ft_bottom > div{ text-align: left; }
    footer .ft_bottom > div > ul {padding: 0.927835% 0 0.927835% 0;}
    footer .ft_bottom > div > ul > li {padding: 0 0 0 8px ;}
    footer .ft_bottom > div > ul > li::after{content: ''; border-right: 1px solid #999999; padding:0 5px;}
    footer .sticky {bottom: 0; top: auto; left: 0;}
    footer .sticky > ul > li {
        position: relative;
        background: linear-gradient(180deg,#333,#242424);
        transform: none;
        height: 40px;
        max-height: 67px;
        width: 33%;
        text-align: center;
        padding: 10px 0;
        float:left;
    }
    footer .sticky > ul > li:hover {background: #262626;}
    footer .sticky > ul > li + li {margin: 0 0 0 1px}
    footer .sticky > ul > li > a > svg {width: 25px; height: 25px; float: none; padding: 0 0; vertical-align: top; margin-bottom: 5px; }
    footer .sticky > ul > li > a > div {line-height: 1; font-size: 10px}
}

/* 479 이하 끝 */


/* 480 이상 시작 */

@media screen and (min-width:480px) and (max-width: 767px) {
    body {font-size: 12px;}
    header {height: 76px;}
    header .nav_cover > .btn  {float: right; display:block; margin: 50px 0 4px; z-index: 100; width: 0; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > .btn:before {content: ''; float: right; margin-bottom:4px; display: inline-block; width:20px; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > .btn:after {content: ''; float: right; margin-top:4px; display: inline-block; width:20px; height:2px; background-color:rgb(212, 212, 212);}
    header .nav_cover > h1 > .logos {width: 179px; height: 40px; margin: 22px 0 14px -30px;} 
    header .nav_cover > h1 > .logos > a.svg_logo{ margin-right: 0;  width: 40px; height: 40px;}
    header .nav_cover > h1 > .logos > a.logo_word{margin: 21px 0 4px; line-height: 1.25; font-weight: 100;}
    header .nav_cover > nav {display: none;}
    header .nav_cover > .privercy em {border: 1px solid white}
    header .nav_cover > .privercy span {display: none; height: 0;}
    main {margin-top: 0;}
    main .main_pt {height: auto;}
    main .main_pt .flow > li > a > img {width: 100%; height: 282px}
    main .main_pt .flow > li > strong {
        position: unset;
        font-size: 2em; 
        top: 0; /* 165 / 700 * 100*/
        left:0;
        animation: none;
        color: #000;
        margin-left: 17px;
    }
    main .main_pt .flow > li > span {
        position: unset; 
        top: 0; /* 230 / 700 * 100 */
        left:0;
        animation: none;
        color: #000;
        margin-left: 17px;
    }
    main .main_pt .flow > li > .in_detail  {display: block}
    .main_pt .bx-wrapper .bx-pager.bx-default-pager {display: block;}
    main .model_overview {
        width: 93.33%;
        padding: 0 0;
    } 
    main .model_overview > h3 {padding: 84px 0 40px;} 
    main .model_overview .model_menu {overflow: hidden; width: 1000px;};
    main .model_overview .model_menu > li {float: none; display: inline-block;}
    main .model_overview .model_photo > ul > li {width: 45%; }
    main .model_overview .model_photo > ul > li + li {margin:0;}
    main .main_bottom {margin-bottom: 40px;}
    aside > .aside_cover { width: 93.33%; margin: 0 auto 20px; padding: 0 0;}
    aside > .aside_cover > ul{padding:0 0;}
    aside > .aside_cover > ul > li {
        width: 48.261097%; 
        height: 100%; 
        background: linear-gradient(180deg,#333,#242424);
        margin-right: 3.477805%;
        margin-bottom: 15px;
    }
    aside > .aside_cover > ul > li:nth-child(2) {margin-right: 0}
    aside > .aside_cover > ul > li:nth-child(4) {margin-right: 0}
    aside > .aside_cover > ul > li + li {margin-left:0;}
    aside > .aside_cover > ul > li > a {height: 100% ; width: 100%; font-size: 16px;}
    aside > .aside_cover > ul > li > a > * {display: inline-block;}
    aside > .aside_cover > ul > li > a > svg {height: 34px; width: 31px; margin-bottom: 0;}
    footer .ft_top {width: 93.33%; padding: 0 0; font-size: 1rem}
    footer .ft_top .hpmode_top{display: block;}
    footer .ft_top .carn_top {border-top: 1px solid #494949; border-bottom: 1px solid #494949; padding: 14px 0 25px; margin: 0;}
    footer .ft_top .carn_top > div > .top_going {display: none;}
    footer .ft_top > h4 {display: none;}
    footer .ft_top .Social {margin:0 0; padding: 30px 9px; border-bottom: 1px solid #494949;}
    footer .ft_top .Social > li {width: 33.333333%}
    footer .ft_top .Social > li.instar {text-align: center;}
    footer .ft_top .Social > li.utube {text-align: right;}
    footer .ft_top .Social > li + li {margin: 0;}
    footer .ft_top .car_info {display: none;}
    footer .ft_bottom_cover{background: linear-gradient(180deg,#000 0,#2e2e2e 150px,#000 500px);}
    footer .ft_bottom {padding: 0; width: 93.33%; }
    footer .ft_bottom > div{ text-align: left; }
    footer .ft_bottom > div > ul {padding: 0.927835% 0 0.927835% 0;}
    footer .ft_bottom > div > ul > li {padding: 0 0 0 8px ;}
    footer .ft_bottom > div > ul > li::after{content: ''; border-right: 1px solid #999999; padding:0 5px;}
    footer .sticky {bottom: 0; top: auto; left: 0;}
    footer .sticky > ul > li {
        position: relative;
        background: linear-gradient(180deg,#333,#242424);
        transform: none;
        height: 40px;
        max-height: 67px;
        width: 33%;
        text-align: center;
        padding: 10px 0;
        float:left;
    }
    footer .sticky > ul > li:hover {background: #262626;}
    footer .sticky > ul > li + li {margin: 0 0 0 1px}
    footer .sticky > ul > li > a > svg {width: 25px; height: 25px; float: none; padding: 0 0; vertical-align: top; margin-bottom: 5px; }
    footer .sticky > ul > li > a > div {line-height: 1; font-size: 10px}
}


/* 767 이상 끝 */



/* 768이상 1023이하 */

@media screen and (min-width:768px) and (max-width: 1023px) {
    .wrap {width: 768px;}
    main {margin-top:-97px;}
    header {height: 97px;}
    header ul {width:100%; right:-50% }
    header ul li:last-child {border-right:none;}   
    header .nav_cover {margin: 0 0; padding: 0 27px; width: 714px;}  
    header .nav_cover > nav {top: 57px; width: 100%; }
    header .nav_cover > nav > ul > li:last-child::after{display: none;}
    header .nav_cover > .privercy {right:0;}
    header .nav_cover > .privercy span {display: none; height: 0;}
    main .main_pt {height:431.667px;}
    main .main_pt .flow > li > a > img {height: 431.667px;}
    main .main_pt > .slide_bar {top: 386px;}
    main .model_overview {margin: 0 0; width: 100%; padding: 0 27px}
    main .model_overview .model_photo > ul > li {width: 30%; }
    aside > .aside_cover {padding: 0 27px; width: 714px;}
    aside > .aside_cover > ul {padding: 0 0;}
    aside > .aside_cover > ul > li > a {font-size: 14px;}
    aside > .aside_cover > ul > li > a > i {display: none;}
    aside > .aside_cover > ul > li > a > svg {height: 46px; width: 46px;}
    footer .ft_top {margin: 0 0; padding: 0 27px; width: 714px}
    footer .ft_top .car_info > li {width: 30%; }
    footer .ft_top .car_info > li:last-child{margin-left: 0;}
    footer .ft_top .car_info > li {line-height: 1.25;}
    footer .ft_bottom{margin: 0 0; width: 100%; padding: 0 27px;}
    footer .ft_bottom > div{ padding: 14px 0; text-align: right; }
    footer .ft_bottom > div > ul {padding: 0.927835% 0 0.927835%; }
    footer .sticky > ul > li:hover{
        transition: none;
        transform: translate(70px,0);
        background-color:#0e78a0 ;
    }
    footer .sticky > ul > li > a {width: 100%; padding: 0 10%;}
    
}

/* 768이상 1023이하 끝 */

